<h1>My friend requests</h1><table>
<% @invites.each do |invite| %>
  <tr>
    <td>From: <strong><%= invite.user.firstname%> <%= invite.user.lastname%> (<%= invite.user.username%>) accepted=> <%= invite.is_accepted %></strong></td>
    <td><%= link_to 'Accept', accept_invite_path(:id => invite.id) %></td>
    <td><%= link_to 'Reject', invite, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
<% end %>
  <% if @invites.count().eql?(0) %>
    No one wants to be your friend. :(
  <% end %>
      </table>
