<%= semantic_form_for(@gamenight) do |f|%>
  <%= f.error_messages %>
  <%= f.inputs do %>
    <%= f.input :name %>
    <%= f.input :game_tokens, :label => "Games", :input_html => { "data-pre" => @gamenight.games.map(&:to_json).to_json } %>
    <%= f.input :description %>
    <%= f.input :location %>
    <%= f.input :start_time, :as => :string, :input_html => { :size => 20, :class => 'datetime' } %>
    <%= f.input :end_time, :as => :string, :input_html => { :size => 20, :class => 'datetime' } %>
    <%= f.input :players_slots %>
  <% end %>
  <%= f.buttons %>
<% end %>

<script type="text/x-jquery-tmpl" id="game_autocomplete_element">
<li class="game_entry">
    {{if thumb_url}}
    <img src="${thumb_url}"></img>
    {{/if}}
    <span>{{html highlighted_name}}</span>
</li>
</script>

<script type="text/javascript">
  $(function () {
      $('#gamenight_game_tokens').tokenInput('/games.json', {
        crossDomain: false,
        theme: 'facebook',
        customRenderer: function(index, value) {
          return $("#game_autocomplete_element").tmpl(value);
        }
      });
  });
</script>
