<h1>Listing gamenights</h1>
<p id="notice"><%= notice %></p>
<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Start time</th>
    <th></th>
  </tr>

<% @gamenights.each do |gamenight| %>
  <tr>
    <td><%= gamenight.name %></td>
    <td><%= gamenight.location %></td>
    <td><%= gamenight.start_time %></td>
    <td><%= link_to 'Show', gamenight %></td>
  </tr>
<% end %>
</table>

<br />