<div class="gamenight_details">
  <%= image_tag @gamenight.game.cover.thumb.url, :class => "avatar" if (@gamenight.game and @gamenight.game.cover.thumb.url) %>
  <h1 class="gamenight_name"><%= @gamenight.name %></h1>
  <h2 class="gamenight_duration"><%= @gamenight.duration%> <%= "@ #{@gamenight.location}" if not @gamenight.location.empty? %></h2>
  <h2 class="gamenight_hosted_by">Hosted by <%= link_to @gamenight.user.full_name, @gamenight.user %></h2>
  <div class="clear_fix"></div>
</div>
<section class="profile_box" style="width: 100%">
  <h1>
    Players (<%= @gamenight.gamenight_invitations.size + 1 %><%= "/#{@gamenight.players_slots}" if @gamenight.players_slots%>)
    <%= link_to "Invite", :controller => "gamenight_invitations", :action => "invite_friends", :gamenight_id => @gamenight.id if @gamenight.can_invite_more_people? %>
  </h1>
  <%
      players = Array.new
      players.push(@gamenight.user)
      players = players.concat(@gamenight.gamenight_invitations.map { |i| i.user })
  %>

  <ul class="user_list">
  <% players.each do |user| %>
    <li>
      <p>
        <%= link_to user do %>
          <span class="user_avatar"><%= image_tag user.gravatar_url %></span>
          <span class="user_name"><%= user.username %></span>
        <% end %>
      </p>
    </li>
  <% end %>


  <% (players.size+1..@gamenight.players_slots).each do |i| %>
     <li>
     <p>
        <%= link_to :controller => "gamenight_invitations", :action => "invite_friends", :gamenight_id => @gamenight.id do %>
          <span class="user_avatar"><%= image_tag "freespot.png" %></span>
          <span class="user_name">Invite</span>
        <% end %>
      </p>
    </li>
  <% end if @gamenight.players_slots %>

  </ul>
  <div class="clear_fix"></div>
</section>
<div class="clear_fix"></div>
