<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @gamenight.name %>
</p>

<p>
  <b>Description:</b>
  <%= @gamenight.description %>
</p>

<p>
  <b>Start time:</b>
  <%= @gamenight.start_time%>
</p>

<p>
  <b>End time:</b>
  <%= @gamenight.end_time%>
</p>

<p>
  <b>Location:</b>
  <%= @gamenight.location%>
</p>

<p>
  <b>Player slots:</b>
  <%= @gamenight.players_slots%>
</p>