<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @gamenight.name %>
</p>

<p>
  <b>Description:</b>
  <%= @gamenight.description %>
</p>

<p>
  <b>Start time:</b>
  <%= @gamenight.start_time%>
</p>

<p>
  <b>End time:</b>
  <%= @gamenight.end_time%>
</p>

<p>
  <b>Location:</b>
  <%= @gamenight.location%>
</p>

<p>
  <b>Players:</b>
  <%= @gamenight.gamenight_invitations.count %>
  <% unless @gamenight.players_slots.nil? %>
    <%= "/ " + @gamenight.players_slots.to_s %>
  <% end %>
</p>

<p>
  <b>Invited players:</b>
</p>
<ol>
  <% @gamenight.gamenight_invitations.each do |i|%>
  <li><%= link_to i.user.username, :controller => "users", :action => "show", :id => i.user.id %></li>
  <% end %>
</ol>

<p>
  <b><%= link_to "Invite more players", :controller => "gamenight_invitations", :action => "invite_friends", :gamenight_id => @gamenight.id %></b>
</p>