<h1>Listing users</h1>
<p id="notice"><%= notice %></p>
<table>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    <td><%= user.email %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


<ul class="user_list">
  <% @users.each do |user| %>
    <li>
      <p>
        <%= link_to user do %>
        <span class="user_avatar"><%= image_tag user.gravatar_url %></span>
        <span class="user_name"><%= user.username %></span>
        <% end %>
      </p>
    </li>
  <% end %>
</ul>
<div class="clear_fix"></div>
<%= link_to 'New User', new_user_path %>
