<p id="notice"><%= notice %></p>
<div class="user_profile">
  <%= image_tag @user.gravatar_url, :class => "avatar" %>
  <h1 class="full_name"><%= @user.full_name %></h1>
  <h2 class="user_name"><%= @user.username %></h2>
  <div class="clear_fix"></div>
</div>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
