
<div class="user_profile">
  <%= image_tag @user.gravatar_url, :class => "avatar" %>
  <h1 class="full_name"><%= @user.full_name %></h1>
  <h2 class="user_name"><%= @user.username %></h2>
  <div class="clear_fix"></div>
</div>

<section class="favorite_games profile_box">
  <h1>Favorite games</h1>
  <ul class="games_list">
    <% @user.games.each do |game| %>
      <li><%= image_tag game.cover.thumb.url if game.cover.thumb.url %></li>
    <% end %>
  </ul>
  <div class="clear_fix"></div>
</section>
<div class="clear_fix"></div>
<% if current_user.friends.include?(@user) %>
    <p><strong>Friend</strong></p>
<% end %>


<% if not(current_user.eql?(@user)) and not (current_user.friends.include?(@user)) %>

    <%= link_to 'Send invite', :controller => "friends", :action => "send_invite", :id => @user %> |
<% end %>
<% if current_user.friends.include?(@user) %>
    <%= link_to 'End friendship', :controller => "friends", :action => "end_friendship", :id => @user %> |
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
