<h1>My gamenight invitations</h1>
<table>
  <thead>
      <th>ID</th>
      <th>Gamenight</th>
      <th>Invitation from</th>
      <th>Gamenight host</th>
      <th>Show invitation</th>
      <th>Replied</th>
      <th>Accepted</th>
  </thead>
  <% @gamenight_invitations.each do |invitation| %>
  <tr>
    <td><%= invitation.id %></td>
    <td><%= link_to invitation.gamenight.name, :controller => :gamenights, :action => :show, :id => invitation.gamenight.id %></td>
    <td><%= link_to invitation.user_inviting.username , :controller => :users, :action => :show, :id => invitation.user_inviting.id %></td>
    <td><%= link_to invitation.gamenight.user.username, :controller => :users, :action => :show, :id => invitation.gamenight.host_id %></td>
    <td><%= link_to "show", :controller => :gamenight_invitations, :action => :show, :id => invitation.id %></td>
    <td><%= invitation.is_replied? %> </td>
    <td><%= invitation.is_accepted? %></td>
  </tr>
  <% end %>
</table>
