<!DOCTYPE html>
<html>
    <head>
      <title>GameNightPl</title>
      <%= stylesheet_link_tag :all %>
      <%= javascript_include_tag :defaults %>
      <%= csrf_meta_tag %>
    </head>
    <body>
        <div id="container">
            <div id="header">
                <ul id="logo">
                  <li><img src="/images/logo1.png"/></li>
                </ul>
                <ul id="nav">
                    <% if current_user %>
                      <li>Hello, <strong><%= current_user.first_name || current_user.username %></strong>!</li>

                      <li><%= link_to "Edit Profile", edit_user_path(current_user.id) %></li>
                      <li><%= link_to "Your friends", :friends %></li>
                      <li><%= link_to "Friend requests", :invites %></li>
                      <li><%= link_to "Browse users", users_path %></li>
					  <li><%= link_to "Your gamenights", :my_gamenights %></li>
                      <li><%= link_to "Gamenight invitations", :gamenight_invitations %></li>
                      <li><%= link_to "Logout", :logout%></li>
                    <% else %>
                      <li><%= link_to "Register", new_user_path%></li>
                      <li><%= link_to "Login", :login%></li>
                    <% end %>
                </ul>
            </div>
            <div id="content">
              <p id="notice"><%= notice %></p>
                <%= yield %>
            </div>
        </div>
    </body>
</html>
