<!DOCTYPE html>
<html>
    <head>
      <title>GameNightPl</title>
      <%= stylesheet_link_tag :all, 'jquery-ui-1.8.13.custom' %>
      <%= javascript_include_tag :defaults, 'jquery-ui-1.8.13.custom.min', 'jquery-ui-timepicker-addon' %>
      <%= csrf_meta_tag %>
    </head>
    <body>
        <div id="container">
            <div id="header">
                <ul id="logo">
                  <li><img src="/images/logo1.png"/></li>
                </ul>
                <ul id="nav">
                    <% if current_user %>
                      <li>Hello, <strong><%= current_user.first_name || current_user.username %></strong>!</li>

                      <li><%= link_to "Edit Profile", edit_user_path(current_user.id) %></li>
                      <li><%= link_to "Your friends", :friends %></li>
                      <li><%= link_to "Friend requests", :invites %></li>
                      <li><%= link_to "Browse users", users_path %></li>
					  <li><%= link_to "Your gamenights", :my_gamenights %></li>
                      <li><%= link_to "Gamenight invitations", :gamenight_invitations %></li>
                      <li><%= link_to "Logout", :logout%></li>
                    <% else %>
                      <li><%= link_to "Register", new_user_path%></li>
                      <li><%= link_to "Login", :login%></li>
                    <% end %>
                </ul>
            </div>
			<p> <%= params[:kupa]%></p>
            <% if not(notice.nil?) %>
				<%case params[:mood] 
					when :negative then %>
				<div class="notice negative">
				<%  when :positive then %>
				<div class="notice positive">
				<%  when :neutral then %>
				<div class="notice">
				<% end %>
				<%= notice %>
			</div>
			<% end %>
			<div id="content">
                <%= yield %>
            </div>
      </div>
      <script type="text/javascript">
        $(".datetime").datetimepicker({dateFormat: "yy/mm/dd"});
      </script>
    </body>
</html>
