<!DOCTYPE html>
<html>
<head>
  <title>GameNightPl</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
    <div id="nav">
        <% if current_user %>
          Hello, <strong><%= current_user.firstname %></strong>! |

          <%= link_to "Edit Profile", edit_user_path(current_user.id) %> |
          <%= link_to "Show friends", :friends %> |
          <%= link_to "Show friend requests", :invites %> |
          <%= link_to "Browse users", users_path %> |
          <%= link_to "Logout", :logout%>
        <% else %> |
          <%= link_to "Register", new_user_path%>
          <%= link_to "Login", :login%>
        <% end %>
    </div>
<%= yield %>

</body>
</html>
